
.HeaderGradient {
    background-image: linear-gradient(to right, red, black, red);
    color: rgb(255, 255, 226);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 40pt;
    font-size: 30pt;
}


.MidText {
    text-align: center;
    color: rgb(255, 255, 226);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.STool {
    border: solid black 3pt;
}

.gradienter {
    margin: 0;
    padding: 0;
}

.map {
    background-image: url(images/DNDMAP.jpg);
    background-size: cover;
}

.Search_Table {
    background: rgb(65, 0, 0);
    width: 250pt;
    height: 100pt;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5pt;
}

.big {
    font-size: 30pt;
}

.Result_Table {
    background: rgb(65, 0, 0);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5pt;
    width: 250pt;
}